@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .btn-link{
        @apply inline-block px-4 py-2 bg-indigo-700 rounded-md font-bold text-sm text-white uppercase tracking-widest hover:bg-indigo-800 active:bg-indigo-900 focus:ring ring-indigo-300;
    }

    .btn-danger{
        @apply bg-red-600 hover:bg-red-700 active:bg-red-700 ring-red-300;
    }

    .btn {
        @apply px-4 py-2 rounded-md font-bold text-sm text-white uppercase tracking-widest focus:ring focus:outline-none;
    }

    .btn-lg{
        @apply px-6 py-3;
    }

    .mt-6{
        margin-top: 1.5rem;
    }

    .text-sm{
        font-size: 0.8rem;
    }

    .text-base{
        font-size: 1rem;
    }


    .text-xl{
        font-size: 1.25rem;
    }


    .text-2xl{
        font-size: 1.563rem;
    }

    /*
    '3xl': '1.953rem',
    '4xl': '2.441rem',
    '5xl': '3.052rem', */

}